{% extends 'base.html.twig' %}

{% block title %}Ghislain Vachet votre Développeur Web !{% endblock %}

{% block body %}
<style>

</style>

<div class="justify-content-center">
    <header >
        <div class=" d-flex justify-content-between">
           <div>
                <img class="logo-size d-inline-block" src="img/Logo_Carca.svg" alt="Logo CarcassonneWeb">
        </div>
             <nav class="mb-auto p-5 d-flex flex-column flex-md-row align-items-center">
                <!-- Lien Contact: Affiche le texte complet sur grand écran et un icône sur les petits écrans -->
                <a class="custom-link d-none d-md-inline-block" data-bs-toggle="tooltip" title="Envoyez-moi un email !" data-placement="top" href="{{ path('app_contact') }}" data-turbo-frame="contact-form-frame">
                    <i class="fa-solid fa-address-card"></i> Contact
                </a>
                <!-- Lien Contact réduit pour les petits écrans -->
                <a class="custom-link d-inline-block d-md-none" data-bs-toggle="tooltip" title="Envoyez-moi un email !" data-placement="right" href="{{ path('app_contact') }}" data-turbo-frame="contact-form-frame">
                    <i class="fa-solid fa-address-card"></i>
                </a>

                <!-- Numéro de téléphone: Affiche le texte complet sur grand écran et un icône sur les petits écrans -->
                <a class="custom-link d-none d-md-inline-block mb-auto p-5" data-bs-toggle="tooltip" title="Appelez-moi ! au 06 62 39 11 24" data-placement="top" href="{{ path('app_contact') }}" data-turbo-frame="contact-form-frame">
                    <i class="fa-solid fa-phone"></i> 06 62 39 11 24
                </a>
                <!-- Numéro de téléphone réduit pour les petits écrans -->
                <a class="custom-link d-inline-block d-md-none" data-bs-toggle="tooltip" title="Appelez-moi !  au 06 62 39 11 24" data-placement="right" href="{{ path('app_contact') }}" data-turbo-frame="contact-form-frame">
                    <i class="fa-solid fa-phone"></i>
                </a>
            </nav>
        </div>
        
</header>


<div class=" fixe"></div>

    <turbo-frame id="contact-form-frame">
        <div class=" d-flex justify-content-center  text-center container  align-items-center ">
        
                <img src="{{ asset('img/profil.png') }}" alt="mon profil" class="img-fluid m-5 " style="max-width: 80%; width: 60%;">
            
                <div class="  aside-container ml-5"> 
                    <h1>Ghislain Vachet </h1>
                    <h2>Votre Développeur Freelance à Carcassonne </h2>
                </div>
        
        </div>
     </turbo-frame>  
            


<section class="drap d-flex row  align-items-center full-height text-center">
    <h3 >En tant que Développeur Web je vous propose de nombreuses solutions de site web, suivant vos besoins et a une échelles humaine.</h3>
         
        
</section>

<div class=" row rounded border border-5  text-center m-5">
    <h2 class="title my-5">Prestations</h2>

      <div class="d-flex justify-content-evenly flex-wrap">
        
      
            <div class=" mb-5">
                 <div class="card hidden " data-controller="animate-card" data-delay="0s">
                    <img src="img/No-code2-min.png" class="card-img-top" alt="Wordpress">
                    <div class="card-body">
                        <h2 class="card-title">Création de Site WordPress</h2>
                        <p class="card-text">Je vous propose la création d'un site vitrine professionnel avec une page de contact, réalisé avec le CMS WordPress, incluant 1 an d'hébergement. Cette solution est idéale pour présenter efficacement votre entreprise en ligne.</p>
                        <p class="card-price">Prestation à partir de 799€</p>
                    </div>
                </div>
            </div>

  
            <div class=" mb-5">
                <div class="card hidden" data-controller="animate-card" data-delay="0.5s">
                    <img src="img/Code2-min.png" class="card-img-top" alt="Code">
                    <div class="card-body">
                        <h2 class="card-title">Création de Site avec PHP/Symfony</h2>
                        <p class="card-text">Offrez-vous un site vitrine sur-mesure, développé avec le framework PHP Symfony, garantissant performance et sécurité. Cette prestation inclut une conception personnalisée adaptée à vos besoins spécifiques.</p>
                        <p class="card-price">Prestation à partir de 999€</p>
                    </div>
                </div>
            </div>
      
         <div class=" mb-5">
                <div class="card hidden" data-controller="animate-card" data-delay="1s">
                    <img src="img/e-commerce2-min.png" class="card-img-top" alt="e-commerce">
                    <div class="card-body">
                        <h2 class="card-title">Création de Site E-commerce</h2>
                        <p class="card-text">Développez votre boutique en ligne avec une solution e-commerce complète, intégrant des fonctionnalités avancées pour une expérience utilisateur optimale. Bénéficiez d'un site sécurisé, rapide et entièrement personnalisable.</p>
                        <p class="card-price">Prestation à partir de 2499€</p>
                    </div>
                </div>
            </div>
             
  
  </div>

  

    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script>
   document.addEventListener('DOMContentLoaded', function () {
      var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
      var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
         return new bootstrap.Tooltip(tooltipTriggerEl)
      })
   });
</script>

</div>
{% endblock %}
