{% extends 'base.html.twig' %}

{% block title %}Hello ContactController!{% endblock %}

{% block body %}
<style>

</style>

<div class="container">
    <h2>Contactez-nous</h2>
    {{ form_start(form, {'attr': {'class': 'form'}}) }}
    {{ form_row(form.name, {'attr': {'class': 'form-control'}}) }}
    {{ form_row(form.email, {'attr': {'class': 'form-control'}}) }}
    {{ form_row(form.message, {'attr': {'class': 'form-control'}}) }}
    {{ form_row(form.send, {'attr': {'class': 'btn btn-primary'}}) }}
    {{ form_end(form) }}
</div>
{% endblock %}
